* {
    margin: 0;
    padding: 0;
    color: grey;
}

/*
Header
*/
header {
    background-color: #7BD3EA;
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header h1 {
    width: 100%; 
    text-align: center;
}

form {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 4px;
}

form > input {
    border: none
}

button {
    background: #F6D6D6;
    border: none;
    padding: 4px 10px
}
/*
Main
*/
main {
    background-color: #A1EEBD;
}

article h3 {
color: black;
}

article {
    display: flex;
    width: 400px;
    align-items: center;
}

aside {
    text-align: center;
}

article figure img {
    width: 275px; 
    height: auto; 
    margin-right: 15px;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

/*
Footer
*/
footer {
    background-color: #F6F7C4;
    min-height: 20px;
    text-align: center;
}